.base00 { color: #ffffff; } /* white */
.base01 { color: #ececec; } /* isabelline */
.base02 { color: #d8d8d8; } /* timberfolw */
.base03 { color: #b1b5bd; } /* ash grey */
.base04 { color: #979797; } /* manatee */
.base05 { color: #56595b; } /* davy's grey */
.base06 { color: #4a4a4a; } /* quartz */
.base07 { color: #000000; } /* black */
.base08 { color: #ff837d; } /* coral pink */
.base09 { color: #f8c18c; } /* pale gold */
.base0A { color: #f9de81; } /* jasmine */
.base0B { color: #98dc9a; } /* granny smith apple */
.base0C { color: #96dfd3; } /* pale robin egg blue */
.base0D { color: #9abeff; } /* baby blue eyes */
.base0E { color: #bd9aff; } /* bright lavender */
.base0F { color: #8e6f60; } /* shadow */
